/*
    0. General
    1. Themes
    2. Base Tags
    3. Override
    4. Scrollbar
    5. Pages
 */

/* 0. General */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.filter-black {
    background-color: rgba(0, 0, 0, 0.5);
}

.margin-0 {
    margin: 0 !important;
}

/* LOGO */

.brand-logo span,
.brand-logo i.material-icons {
    float: left;
}

.brand-logo i.material-icons {
    margin: 0 !important;
}

.flex {
    display: flex !important;
}

.align-items-center {
    align-items: center;
    display: flex !important;
}

.flex-direction-column {
    display: flex !important;
    flex-direction: column;
}

.justify-content-center {
    display: flex !important;
    justify-content: center;
}

.justify-content-space-between {
    display: flex !important;
    justify-content: space-between;
}

.flex-auto {
    flex: auto;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-14,
.font-size-14 * {
    font-size: 14px !important;
}

/* 1. Themes */

:root {
    --color-1: #f57c00;
    --color-1-text: #ffffff;
    --color-1-hover: #ffa726;
    --color-2: #ffffff;
    --color-2-text: none;
    --color-2-hover: none;
    --color-chat: #ece5dd;
    --color-chat-human: #dcf8c6;
    --color-chat-human-text: #000000;
    --color-chat-machine: #ffffff;
    --color-chat-machine-text: #000000;
    --color-nav: #424242;
}

.theme-color-1 {
    background-color: var(--color-1);
    color: var(--color-1-text);
}

.theme-color-1-text {
    color: var(--color-1) !important;
}

a.theme-color-1:hover,
button.theme-color-1:hover,
input.theme-color-1:hover,
a.theme-color-1:focus,
button.theme-color-1:focus,
input.theme-color-1:focus {
    background-color: var(--color-1-hover);
}

.theme-color-2 {
    background-color: var(--color-2);
    color: var(--color-2-text);
}

.theme-color-2-text {
    color: var(--color-2) !important;
}

.theme-color-chat {
    background-color: var(--color-chat);
}

.theme-color-nav {
    background-color: var(--color-nav);
}

/* 2. Override */

@font-face {
    font-family: "Roboto";
    src: local(Roboto Thin), url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/roboto/Roboto-Thin.woff") format("woff");
    font-weight: 100;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Light), url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Regular), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Medium), url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Bold), url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff");
    font-weight: 700;
}

i.left {
    margin-right: 7px !important;
}

i.right {
    margin-left: 7px !important;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: var(--color-1);
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #F1F1F1;
}

.switch label .lever:before,
input[type=checkbox]:checked:not(:disabled)~.lever:active::before,
input[type=checkbox]:checked:not(:disabled).tabbed:focus~.lever::before {
    background-color: var(--color-1-hover);
    opacity: 0.15;
}

/* 3. Base Tags */

body {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

/* NAVBAR */

#navbar .brand-logo {
    font-size: 22px !important;
    padding: 0 20px !important;
}

#navbar .brand-logo i.material-icons {
    font-size: 30px !important;
}

#navbar a.button-collapse {
    display: block;
}

/* 4. Scrollbar */

/* 5. Pages */

/* PAGE: INDEX */

#apresentacao {
    background: url(../images/banner.jpg) center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    position: fixed;
    width: 100%;
}

#apresentacao>div {
    height: 100%;
    overflow-y: auto;
    padding: 20px;
    text-align: center;
    width: 100%;
}

#apresentacao>div>* {
    margin: 0;
    width: 100%;
}

#apresentacao h1,
#apresentacao h3 {
    font-size: 31px;
}

#apresentacao h2,
#apresentacao h2 * {
    font-size: 100px;
}

#apresentacao h2 {
    margin-left: -15px;
    width: auto;
}

@media only screen and (max-width: 600px) {}

@media only screen and (max-width: 768px) {
    #apresentacao h1 {
        font-size: 20px;
    }
    #apresentacao h2,
    #apresentacao h2 * {
        font-size: 55px;
    }
}

/* PAGE: LOGIN */

/* MAIN */

#page-login main,
#page-login main>section,
#page-login main>section>div {
    height: 100%;
}

#login {
    background: url(../images/login.jpg) center center no-repeat;
}

#login .card {
    width: 300px;
}

#login .card-reveal .card-title {
    font-weight: normal;
}

/* PAGE: BOARD */

#body-content {
    height: 100%;
}

#body-content>div {
    overflow: hidden;
}

/* NAVBAR */

#view-mode {
    padding: 0 10px;
}

/* MAIN */

#main {
    display: flex;
    flex-grow: 1;
    overflow: auto;
}

#view {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 20px;
}

#view>.content.mode-computer>.card,
#view>.content.mode-phone>.card {
    border: 7px solid #666;
    margin: 0 50px;
    overflow-x: hidden;
}

#view>.content.mode-computer>.card {
    border-radius: 4px;
    height: 768px;
    width: 1024px;
}

#view>.content.mode-phone>.card {
    border-radius: 40px;
    height: 812px;
    width: 375px;
}

#view ::-webkit-scrollbar {
    width: 10px;
}

#view ::-webkit-scrollbar-track {
    background: transparent;
    height: 80%;
}

#view ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

#view ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.header {
    height: 60px;
}

.banner {
    height: 300px;
}

/* ASIDE */

aside {
    bottom: 0;
    padding: 0 0 0 5px !important;
    width: 300px;
}

#input-bar {
    align-items: center;
    display: flex;
}

#input-bar input {
    border: none;
    margin: 0;
}

#input-bar i.material-icons {
    padding: 0 0 0 20px;
}

/* TOOLS */
#tools {
    padding: 10px;
}

#tools > * {
    margin: 0 5px;
    width: 50px;
}

#zoom input {
    margin: 0;
}